:root{
	--primary:#2f2e41;
	--secondary:#cce5ff;
	--grey:#1f2e2e;
	--dark: #000000;
    --white: #ffffff;
    --secondary-dark:#1a75ff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
	scroll-behavior: smooth;
	font-family: arial,sans-serif;
	background-color: var(--white);
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}


button:hover,
.btn:hover {
    cursor: pointer;
}

.btn {
    padding: 10px 14px;
    border-radius: 5px;
}

.flex{
	display: flex;
	display: -ms-flexbox;
}

header{
	background-color: var(--primary);
	width: 100%;
}

nav{
	padding: 10px;
}

.logo a{
	margin: 0 10px;
	color: grey;
	font-family: arial;
}

.nav-items-home{
	margin: 0 10px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.nav-items-portal, .nav-items-dashboard,.nav-items-student-info{
	margin: 0 10px;
	width: 100%;
	align-items: center;
}

.nav-items-home a:first-child,.nav-items-portal a:first-child,.nav-items-dashboard a:last-child,.nav-items-student-info a:last-child{
	color: white;
}

.nav-items-home a:last-child,.nav-items-portal a:last-child,.nav-items-dashboard a:first-child,.nav-items-student-info a:first-child,.nav-items-student-info a:nth-child(2){
	color: grey;
}

.nav-items-portal a:first-child,.nav-items-dashboard a:first-child,.nav-items-student-info a:first-child,.nav-items-student-info a:nth-child(2){
	padding-right: 20px;
}


.content-home > * {
    flex-basis: 50%;
}

.content-home{
	padding: 30px;
	justify-items: center;
	align-items: center;
}

.content-portal{
	padding: 20px 155px;
	padding-bottom: 80px;
}

.content-dashboard{
	padding: 20px;
}

.content-student-info{
	padding: 20px 40px; 
}

.content-title {
	text-align: left;
	max-width:24em;
	margin:0 auto;
	line-height: 20px;
}

.content-title p:first-child{
	font-size: 2.5em;
	color: var(--primary);
	font-weight: bold;
	padding-bottom:20px;
}

.content-title .text {
	color: #ff6600;
	font-weight: bold;
	padding-bottom: 20px;

}

.content-title a{
	color: #ff6600;
	font-weight: bold;
	background-color: var(--primary);
	border: 0;
}

.content-img{
	padding-top: 20px;

}

footer{
	position: absolute;
	bottom: 0;
	background-color: var(--primary);
	padding: 10px 0;
	text-align: center;
	color: grey;
	width: 100%;
}
@media(min-width:800px){
	html,body{
		position: relative;
		height:100%;
	}
}
@media(max-width:876px){
	.content-title p:first-child{
		line-height: 30px;
	}
}

@media(max-width: 596px){
	.content-home{
		flex-direction: column;
		-ms-flex-direction:column;
	}
}

.form-container{
	background-color: var(--secondary);
	padding: 15px;
}

.form-container .title{
	color: var(--grey);
	font-size: 25px;
	text-align: center;
	padding-bottom: 10px;
}

.form-container .note{
	color:red;
}

.personal-form h3{
	font-weight: normal;
	color: var(--white);
	background-color: var(--primary);
	padding: 5px 0;
	padding-left: 5px;
}

label{
	display: inline-block;
	padding-bottom: 10px;
}

.row{
	padding-top: 20px;
}

.checkbox{
	padding-top: 40px;
}

.row .col-50:first-child{
	padding-right: 30px;
}
.personal-info-lastchild{
	padding-bottom: 20px;
}
.col-50{
	flex: 50%;
	-ms-flex: 50%;
}

.submit{
	justify-content: center;
}

input[type=text],input[type=file],input[type=email],input[type=date],input[type=tel],select,input[type=number],textarea{
	width: 100%;
}

.form-container input[type=submit]{
	width:30%;
	background-color: var(--primary);
	border: 0;
	color: var(--white);
	padding: 5px 0;
	border-radius: 5px;
}

input[type=date]{
	padding: 8px 0;
}

@media(max-width: 800px){

	.content-portal{
		padding: 20px;
		padding-bottom:40px;
	}

	.row{
		flex-direction: column;
		-ms-flex-direction:column;
	}

	.col-50{
		padding-bottom: 20px;
	}

	.row .col-50:last-child{
	padding-right: 30px;
	}
}

.notice{
	background-color: var(--secondary);
	padding:10px 0;
	padding-left: 15px;
	border-radius: 5px;

}

.dashboard-row{
	padding: 0 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	justify-content: space-around;
}

.col2,.col3{
	width: 20%;
}

.col2 select,.col3 select,.col5 input{
	padding:3px 0;
}

.col5 input{
	background-color: var(--secondary-dark);
	border-radius: 5px;
	color: var(--white);
	border: 0;
	padding: 8px 40px;
}

.table{
	padding: 0 20px;
}
table{
	width: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:first-child{
	border-top: 8px solid var(--primary);
}

table tr:last-child{
	border-bottom: 10px solid var(--primary);
}

td,th{
	text-align: center;
	padding: 5px 0;
}

.fas{
	background-color: var(--secondary-dark);
	color: var(--white);
	padding: 3px 3px;
	border-radius: 5px;
}

@media(max-width: 800px){
	.dashboard-row{
		flex-direction: column;
		-ms-flex-direction:column;
	}

	.col1,.col2,.col3,.col4,.col5{
		margin:10px 0;
		width:100%;
	}

	.table{
		overflow-x: auto;
		overflow-y: auto;
	}

}

.left-info{
	width:250px;
	background-color: #ff884d;
	position: relative;
	height:300px;
	margin-right: 20px;
}
.left-info .left-info-img{
	width: 190px;
	height: 200px;
	margin: auto;
	padding: 10px 0;
}

.left-info .left-info-img img{
	width: 100%;
	height: 100%;
}
.left-info p{
	text-align: center;
	color: var(--white);
	font-weight: bold;
}

.left-info p:last-child{
	display:inline-block;
	margin: auto;
	padding: 2px 5px;
	font-size: 14px;
	border-radius: 5px;
	background-color: var(--secondary-dark);
}

.status{
	padding: 20px 0;
	text-align: center;
}

.right-info{
	width: 80%;
}
.right-info h3{
	width:70%;
	font-weight: normal;
	color: var(--dark);
	background-color: var(--secondary);
	padding: 5px 0;
	padding-left: 5px;
}

.right-info-items{
	padding-left: 30px;
}

.right-info-items p{
	padding-top: 30px;
}

.other-info,.academic-info{
	padding-top: 20px;
	padding-left:20px;
}

.other-info h3,.academic-info h3{
	font-weight: normal;
	color: var(--dark);
	background-color: var(--secondary);
	padding: 5px 0;
	padding-left: 5px;
}

.other-info-items,.academic-info-items{
	padding-top: 30px;
	padding-left: 30px;
}

.other-info-items p:first-child,.academic-info-items p:first-child,.academic-info-items p:nth-child(2){
	padding-right: 80px;
}

@media(max-width: 800px){

	footer{
		position: absolute;
		bottom: 0;
	}

	.logo{
		display: none;
	}
	.info{
		flex-direction: column;
		-ms-flex-direction:column;
		justify-content: center;
	}

	.left-info{
		margin: auto;
		margin-bottom: 20px;
	}

	.right-info{
		margin: auto;;
	}

	.right-info h3{
		width:100%;
	}

	.right-info-items p{
		padding-top: 20px;
	}

	.other-info-items,.academic-info-items{
		flex-direction: column;
		-ms-flex-direction:column;
	}

	.other-info-items p:first-child,.academic-info-items p:first-child,.academic-info-items p:nth-child(2){
		padding-bottom: 20px;
	}

}